.hub-page {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  position: relative;
}

.hub-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome-message {
  margin: 0;
}

.lists {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.audit-logs{
  margin-top: 10px;
  overflow-y: scroll;
}
