<app-nav-bar></app-nav-bar>

<div class="hub-page">
  <div class="popup">
    <app-create-project></app-create-project>
    <app-delete-project [projectID]="1"></app-delete-project>
    <!-- Need to grab Project ID-->
  </div>
  <header class="hub-header">
    <div>
      <h2 class="welcome-message">Welcome, {{ username() | capitalizeFirst }}</h2>
      <span>{{ userRole() }}</span>
    </div>
    <div class="filter">
      <input type="search" [(ngModel)]="searchFilter" class="filterInput" />
      <button (click)="filterList()" class="filterButton">Filter Issues</button>
    </div>
    <section class="delete_button">
      <!-- pull didn't include the addDeletePopup() so I (Elijah) implemented it lmk if it needs to be changed or push the change -->
      <button (click)="addDeletePopup()">
        Delete Project(s) <img src="assets/icons/trash.svg" />
      </button>
    </section>
  </header>
  <section class="lists">
    <app-list-container
      title="Projects"
      [items]="projectsList()"
      [hasButton]="true"
      [itemClicked]="goToProject"
    >
    </app-list-container>
    <app-list-container
      title="Issues"
      [items]="issuesList()"
      [hasButton]="false"
    ></app-list-container>
  </section>
  @if(isAdmin()){
  <section class="audit-logs">
    <h4 style="margin-left: 10px">Audit Logs</h4>
    @for (item of auditLogs(); track $index) {
    {{ item.role }}: {{ item.username }} {{ item.action }} at {{ item.timeLogged }} <br />
    }
  </section>
  }
</div>
