.hubPage {
  padding: 8px;
  position: relative;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topBar > h2 {
  margin: 0;
}

.renameWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
