
.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 8px;
    column-gap: 10px;
    height: clamp(400px, 80vh, 1000px);
}

.displayUsername {
    grid-row-start: 1;    
    height: clamp(110px, 80vh, 50px);
    width: 210px;
    margin-left: 50px;
    margin-top: 50px;
}

.projectSearchBar {
    grid-column: span 2 / span 2;
    grid-row-start: 3;
    border-bottom: 5px solid;
    border-bottom-color: #3030d3;
    margin-bottom: 30px;
    width: 400px;
}

.issueSearchBar {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 3;
    border-bottom: 5px solid;
    border-bottom-width: 5px;
    border-bottom-color: hwb(123 23% 13%);
    margin-bottom: 30px;
    width: 400px;
}

.projectListing {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-row-start: 4;
}

.projectButton {
    width: 200px;
    height: 60px;
    background-color: aliceblue;
    margin-right: 3px;
}

.issueListing {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 4;
}

.auditLogListing {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-row-start: 6;
}

        