.hub-page {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  box-sizing: border-box;
  min-height: 100%;

}

.hub-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome-message {
  margin: 0;
}

.lists {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.audit-logs{
  margin-top: 10px;
  overflow-y: scroll;
}

.filter{ 
  margin-top: 10px;
  margin-right: 20%;
}

.filterInput{
  margin-right: 20px;
}
.filterButton{
  border-right: 30%;
}

.search-result-item {
  display: block;
  width: 100%;
  text-decoration: none;
  color: var(--carbon-black);
  padding: 8px;
  box-sizing: border-box;
  border-left: 2px solid black;
}

.search-result-item:hover {
  font-weight: 900;
  border-color: var(--spicy-paprika);
}