.hub-page {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  box-sizing: border-box;
  min-height: 100%;

}

.hub-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome-message {
  margin: 0;
}

.lists {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.audit-logs{
  margin-top: 10px;
  overflow-y: scroll;
}

.filter{ 
  margin-top: 10px;
  margin-right: 20%;
}

.filterInput{
  margin-right: 20px;
}
.filterButton{
  border-right: 30%;
}

.search-result-item {
  position: relative;
  display: block;
  width: 100%;
  text-decoration: none;
  color: var(--carbon-black);
  padding: 8px;
  box-sizing: border-box;
}

.search-result-item::before {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 2px;
  background-color: black;
  top: 0;
  left: 0;
}

.search-result-item:hover::before {
  background-color: var(--spicy-paprika);
  width: 3px;
}