.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}