/* You can add global styles to this file, and also import other style files */
:root {
  --floral-white: #fffcf2ff;
  --dust-grey: #ccc5b9ff;
  --charcoal-brown: #403d39ff;
  --carbon-black: #252422ff;
  --spicy-paprika: #eb5e28ff;
  font-family: 'Satoshi', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/assets/fonts/Satoshi-Regular.woff2') format('woff2');
  font-style: normal;
}
