.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
}

.nav ul li {
  margin-left: 20px;
}

.nav ul li a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;
}

.nav ul li a:hover {
  background-color: #e0e0e0;
  color: #000;
  cursor: pointer;
}

.nav ul li a.active {
  border-bottom: 3px solid #007aff;
}

.nav ul li app-signout-button {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;
}
