.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
}

.div1 {
  grid-column: span 2 / span 2;
}

.div2 {
  grid-column: span 2 / span 2;
  grid-row-start: 2;
}

.div3 {
  grid-row-start: 3;
}

.div4 {
  grid-row-start: 3;
}


.div6 {
  grid-row-start: 4;
}
