.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
  position: absolute;
  left: 25%;
  top: 50%;
  background-color: hsl(36, 80%, 47%);
  width: 50%;
  text-align: center;
  /* padding-top: 20%; */
  /* overflow: auto; */
  border-radius: 40px;
}

.proj_warning {
  grid-column: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 2;
}

.deletion_buttons {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 3;
}


button {
  margin-top: 10px;
}

