.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: brightness(0.5) blur(2px);
  background: rgba(0,0,0,0.2);
  z-index: 9998;    
}

.search-container {
  position: absolute;
  top: 10%;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 8px;
  max-height: 64rem;
  width: 700px;
  max-width: 90vw;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 9999;
  align-items: center;
  border-radius: 4px;
  border: none;
}

.search-input{
  font-size: 1.5rem;
  width: 100%;
  padding: 8px;
  border: 2px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}

.search-input::placeholder{
  color: rgb(173, 167, 167);
}

.escape-tooltip {
  height: fit-content;
  cursor: pointer;
  align-self: flex-end;
}

.esc-key-icon {
  display: inline-block;
  border: 1px solid black;
  padding: 4px;
  border-radius: 4px;
  justify-self: right;
}
