.lists-container {
  font-family: 'Satoshi';
}

.tool-bar {
  --toolbar-gap: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tool-bar > :first-child {
  display: flex;
  align-items: center;
  gap: var(--toolbar-gap);
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
}

.toggleExpandBtn {
  cursor: pointer;
  height: fit-content;
  transform: rotate(-90deg);
  transition: transform 0.1s;
}

.isExpanded {
  transform: none;
}

.toggleExpandBtn > img {
  display: block;
  height: 0.8rem;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--toolbar-gap);
}

.title {
  font-weight: 600;
  /* border-right: 1px solid red; */
  /* padding-right: var(--toolbar-gap); */
}

.item-count {
  opacity: 0.5;
}

.add-button {
  padding: 8px;
  display: flex;
  gap: 2px;
  align-items: center;
  cursor: pointer;
}

.add-button > img {
  height: 1.1rem;
}

.add-button:hover {
  /* background-color: var(--dust-grey); */
}

.add-button:active {
  opacity: 0.5;
}

hr {
  border: 1px solid var(--dust-grey);
}

.list-container {
  display: flex;
  flex-direction: column;
}

.list-item {
  display: flex;
  gap: 8px ;
  padding: 6px;
}

.list-item:hover {
  color: var(--floral-white);
  background-color: var(--spicy-paprika);
}

input[type='checkbox']:checked {
  /* Rule will be ignored if browser does not support it */
  accent-color: var(--carbon-black);
}

.delete_button{
  float: inline-end;
}
