<section class="lists-container">
  <div class="tool-bar">
    <div class="">
      <button [class.isExpanded]="isExpanded()" class="toggleExpandBtn">
        <img src="assets/icons/expand.svg" (click)="expandList()" />
      </button>
      <div class="title-container">
        <span class="title">{{ title() }}</span>
        <span class="item-count">{{ itemCount() }}</span>
      </div>
    </div>
    @if(hasButton()){
    <button class="addNewBtn" title="Add new" (click)="addPopup()">
      <img src="assets/icons/plus.svg" />
    </button>
    }
  </div>
  <hr />

  @if (isExpanded()) {
  <div class="list-container">
    @for (item of items(); track $index) {
    <div class="list-item" (click)="itemClicked ? itemClicked(item) : null" style="cursor: pointer">
      {{ item.name | capitalizeFirst }}
      <div class="button_delete">
        @if (isAdmin() && hasButton()) {
          <app-delete-project [projectID]="item.id"></app-delete-project>
        }
      </div>
    </div>
    }
  </div>
  }
</section>
