<section class="lists-container">
  <div class="tool-bar">
    <div class="">
      <button [class.isExpanded]="isExpanded()" class="toggleExpandBtn">
        <img src="assets/icons/expand.svg" (click)="expandList()" />
      </button>
      <div class="title-container">
        <span class="title">{{ title() }}</span>
        <span class="item-count">{{ itemCount() }}</span>
      </div>
    </div>
    @if(hasButton()){
      <div class="popup">
        <app-create-project [isPoppedUp]="false"></app-create-project>
      </div>
    }
  </div>
  <hr />

  @if (isExpanded()) {
  <div class="list-container">
    @for (item of items(); track $index) {
    <div class="list-item" style="cursor: pointer">
      <div class="list-item-link" (click)="itemClicked ? itemClicked(item) : null">
        {{ item.name | capitalizeFirst }}
      </div>
      <div class="button-delete">
        @if (isAdmin() && hasButton()) {
        <app-delete-project [projectID]="item.id" [projectName]="item.name"></app-delete-project>
        <app-update-project [projectID]="item.id" [projectTitle]="item.name"
          [projectDesc]="item.description"></app-update-project>
        }
      </div>
    </div>
    }
  </div>
  }
</section>
