:host {
  display: flex;
  justify-content: center;
}

input {
  background-image: url("/assets/icons/search.svg");
  background-repeat: no-repeat;
  background-position: left center;
  padding: 8px 30px;
  border: 1px solid black;
  border-radius: 4px;
}