@if (isPoppedUp()){
<div class="parent">
  <div class="proj_name">
    @if (titleMissing) {
    <h4 style="color: red">Enter a title name for the project</h4>
    }
    <p>Project Name</p>
    <input type="text" placeholder="Project Title" [(ngModel)]="projectTitle" />
  </div>
  <div class="proj_description">
    @if (descriptionMissing) {
    <h4 style="color: red">Enter a description</h4>
    }
    <p>Project Description</p>
    <textarea
      type="text"
      placeholder="Project Description"
      id="descriptionBox"
      [(ngModel)]="projectDesc"
      rows="15"
      cols="50"
    ></textarea>
    <button (click)="createProject()">{{ buttonText }}</button>
    <button (click)="cancelCreation()">{{ buttonCancel }}</button>
  </div>
</div>

}
