.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    text-align: center;
}
    
.div1 {
    grid-row: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 2;
}

input::placeholder{
    opacity: .5;
}

select {
    margin-bottom: 20px;
    gap: 10px;
}

button{
    margin: 20px;
    width: 110px;
    height: 40px;
    overflow: auto;
    background-color: rgb(32, 41, 172);
    font-style: ;
    color: white;
}