.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 8px;
}
    
.div1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    max-width: 378px;
    padding: 16px;
}

input, select {
    border: 1px solid var(--carbon-black);
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
}

label {
    align-self: self-start;
}

.error-list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

input::placeholder{
    opacity: .5;
}

select {
    margin-bottom: 20px;
    gap: 10px;
}

div:has(button) {
    display: flex;
    gap: 4px;
}

select {
    width: 100%;
}

button{
    padding: 12px;
    min-width: 84px;
    background-color: var(--carbon-black);
    border: none;
    color: white;
}