:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 384px;
  gap: 16px;
}

.input-container {
  position: relative;
  width: 100%;
}

.input-container > input {
  text-indent: 16px;
}

.input-container > label {
  position: absolute;
  background-color: white;
  color: gray;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  padding: 0 4px;
  transition: all 0.2s;
}

.input-container:focus-within > label,
.input-container > input:not(:placeholder-shown) + label {
  color: black;
  top: 0;
  transform: translateY(-50%);
}

.input-container > input {
  width: 100%;
  height: 52px;
  border-radius: 8px;
  border: 1px solid black;
}

#login-submit-btn {
  border: none;
  color: white;
  background-color: var(--carbon-black);
  width: 100%;
  padding: 1rem 0 1rem 0;
  border-radius: 4px;
  font-weight: 500;
}

#login-submit-btn:active {
  opacity: 0.9;
}

#login-submit-btn:disabled {
  background-color: gray;
  color: black;
  opacity: 0.4;
}
