<h1>Sign In </h1>

<form (ngSubmit)="onSubmit()" class="login-form" method="post" [formGroup]="loginForm">
    <div class="input-container">
        <input id="login-username-input" name="username" placeholder=" " type="text" formControlName="username"  />
        <label for="login-username-input">Username</label>
    </div>
    <div class="input-container">
        <input type="password" placeholder=" " name="password" id="login-password-input" formControlName="password"/>
        <label for="login-password-input">Password</label>
    </div>
    <button id="login-submit-btn" type="submit" [disabled]="!loginForm.valid">Login</button>
</form>

<a routerLink="/register">register a new account</a>