.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  grid-auto-rows: min-content;
  gap: 16px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #f8f8f8;
  width: 520px;
  max-width: 90vw;

  padding: 24px;
  border-radius: 16px;

  text-align: left;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.issue_title {
  grid-column: 1 / -1;
}

.issue_desc {
  grid-column: 1 / -1;
}

.issue_severity {
  grid-column: 1 / 2;
  /* align-self: center; */
}

.issue_priority {
  grid-column: 2 / 3;
  /* margin-left: 16px; 

  align-self: center; 
  justify-self: start;  */
}

.issue_buttons {
  grid-column: 1 / -1;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

#descriptionBox {
  width: 100%;
  resize: vertical;
}
