<div class="parent">
        <app-create-issue></app-create-issue>
  <div class="div1">
    <h4>Project Title:</h4>
    <h3>{{ projectTitle() }}</h3>
    <!-- This will contain an element that reflects the name of the project entity -->
  </div>
  <div class="div2">
    <h4>Description:</h4>
    <!-- This will contain an element that says something like "Description:". This could be removed -->
  </div>
  <div class="div3">
    Users List
    <!-- This will contain an element that shows a list of users who are associated with this project -->
  </div>
  <div class="div4">
    <p>{{ projectDescription() }}</p>
    <!-- This will contain an element that reflects the description of the project entity -->
  </div>
  <div class="div5">
    <!--
      Extra Space
    This space is reserved for a two things:

    First is the issues browser pane. It shows the projects issues. Users can click on them
    to be taken to a page where they can view that issue's details. Testers have a button
    to create issues.

    Second is the quick description pane. It shows the description of the issue that
    is currently being hovered over
     -->
    <!--
     TODO: First add the issues table, then add the issue quick description.

     Make the issues table & quick description child components of project
     -->
  </div>
</div>
