.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 8px;
}


.div2 {
  grid-column-start: 1;
  grid-row-start: 2;
}

.div3 {
  grid-row: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 1;
}

.div4 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-row-start: 3;
}

.div5 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-row-start: 5;
}
