<p>issue-details works!</p>
<div class="parent">
  <div class="div1">
    <!-- This will contain the Issue's title -->
    Title
  </div>
  <div class="div2">
    <!-- This will contain the Issue's description -->
    Description Box
  </div>
  <div class="div3">
    <!-- This will hold buttons/dropdowns that are specific to certain users
     Testers can edit the issue details themselves
     Developers can claim issues, or resolve them-->
    Controls
  </div>
  <div class="div4">
    <!-- Available to testers to submit their edits -->
    Update Button
  </div>
</div>
