<div class="parent">
  <div class="div1">
    <!-- This will contain the Issue's title -->
    <h2>Issue title: {{ issueTitle }}</h2>
  </div>
  <div class="div2">
    @if (isEditing) {
    <textarea [(ngModel)]="issueDescription"></textarea>
    } @else {
    <p>{{ issueDescription }}</p>
    }
  </div>
  <div class="div3">
    <!-- This will hold buttons/dropdowns that are specific to certain users
     Testers can edit the issue details themselves
     Developers can claim issues, or resolve them-->
    @if (userRole === 'tester') {
    <button (click)="onEdit()" [disabled]="isEditing">Edit Issue</button>
    <button (click)="onSubmit()" [disabled]="!isEditing">Submit Changes</button>
    }

    @else if (userRole === 'developer') {
    <button (click)="onClaim()">Claim Issue</button>
    <button (click)="onResolve()">Resolve Issue</button>
    }

    @else {
    <p>View Only Mode</p>
    }
  </div>
  <div class="div4">
    <!-- Available to testers to submit their edits -->
    Update Button
  </div>
</div>
