.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
  position: absolute;
  left: 30%;
  top: 50%;
  background-color: #0e287e;
  width: 50%;
  text-align: center;
  padding-top: 20%;
  overflow: auto;
}

.issue_title {
  grid-column: span 3 / span 3;
}

.issue_desc {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-row-start: 2;
}

.issue_severity {
  grid-column-start: 3;
  grid-row-start: 2;
}

.issue_priority {
  grid-column-start: 3;
  grid-row-start: 3;
}

.issue_buttons {
  grid-column: span 3 / span 3;
  grid-row-start: 4;
}
