<!-- This component will be a popup window that will show up in the
     Tester's view (viewing a project). It is the dialogue window for creating a new issue. -->
@if(isPoppedUp()){
  <div class="parent">
    <div class="issue_title">
      <!-- Just the title of the popup that appears when making a new issue -->      
        <input type="text" placeholder="Issue Title" [(ngModel)]="issueTitle"> 
    </div>
    <div class="issue_desc">
      <!-- Holds the description of the issue -->
      <input type="text" placeholder="Issue Description" class="description" [(ngModel)]="issueDesc">
    </div>
    <div class="issue_severity">
      <!-- Could be a dropdown, buttons, etc to set the severity -->
      Severity Controls
    </div>
    <div class="issue_priority">
      <!-- Could be a dropdown, buttons, etc to set the priority -->
      Priority Controls
    </div>
    <div class="issue_buttons">
      <!-- This will hold (2) buttons, Confirm and Cancel -->
      <button (click)="createIssue()">{{ buttonText }}</button>
      <button (click)="cancelCreation()">{{ buttonCancel }}</button>
    </div>
  </div>
}
