<!-- This component will be a popup window that will show up in the
     Tester's view (viewing a project). It is the dialogue window for creating a new issue. -->
<div class="parent">
  <div class="div1">
    <!-- Just the title of the popup that appears when making a new issue -->
    Element Title
  </div>
  <div class="div2">
    <!-- Holds the description of the issue -->
    Description Box
  </div>
  <div class="div3">
    <!-- Could be a dropdown, buttons, etc to set the severity -->
    Severity Controls
  </div>
  <div class="div4">
    <!-- Could be a dropdown, buttons, etc to set the priority -->
    Priority Controls
  </div>
  <div class="div5">
    <!-- This will hold (2) buttons, Confirm and Cancel -->
    Buttons
  </div>
</div>
